    body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
    margin: 0;
    padding: 0;
}

nav.navbar {
    background-color: #dedede;
    border-bottom: 1px solid #ccc;
    padding: 1rem 2rem;
    position: center;
    top: 0;
    z-index: 10;
    align-content: center;
}

nav.navbar ul {
    display: flex;
    list-style: none;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: flex-start;
}

nav.navbar a {
    text-decoration: none;
    color: #007b5e;
    font-weight: bold;
    transition: color 0.3s ease;
    text-align: center;
}

nav.navbar a:hover {
    color: #007b5e;
}

.container {
    max-width: 960px;
    background-color: #fff;
    margin: 2rem auto;
    padding: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
}

.container img {
    flex: 1 1 40%;
    max-width: 100%;
    height: auto;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.text-box {
    flex: 1 1 55%;
}

.text-box h3 {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
    color: #007b5e;
}

.text-box p {
    font-size: 1rem;
    line-height: 1.6;
    color: #444;
}

@media (max-width: 768px) {
    .container {
        display: flex;
        justify-content: center;     
        gap: 20px;                  
       flex-wrap: wrap;             
       margin-bottom: 30px;         
}
    }

    .text-box, .container img {
        flex: 1 1 100%;
    }

.linkbox {
  position: absolute;
  bottom: 10px;             
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 20px;                
  justify-content: center;
  position: relative;       
  min-height: 12px;        
  padding-bottom: 50px;
}